/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
} */

.main {
  width: 300px;
  height:500px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
 
}

.image{
 border-radius: 20px;
 width: 300px;
 height: 200px;
}

.image img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 20px; 
}

.info {
  padding: 5px 0;
  color: #333;
}

.info h2 {
  margin: 0px;
  font-size: 20px;
}

.price {
  color: #777;
  margin: 0px;
  font-size: 12px;
}

.desc {
  color: #777;
  font-size: 12px;
}
 
.daysrating {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.stat-box {
  background-color: #f3f3f3;
  width: 45%;
  text-align: center;
  padding: 10px;
  border-radius: 16px;
}

.label {
  font-size: 10px;
  color: #777;
}

.value {
  font-weight: bold;
}

button{
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 16px;
  padding: 14px 10px;
  font-weight: bold;
  font-size: 12px;
  background-color: black;
  color: white;
}






