
.wrapper {
 
background: rgba(255, 255, 255, 0.97);
  padding: 35px 45px;
  border-radius: 20px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
width:700px;
height:600px;

  animation: fadeIn 0.8s ease-in-out;
  /* overflow-y: auto;
  backdrop-filter: blur(10px); glassmorphism effect */
  border: 1px solid rgba(255, 255, 255, 0.5);
 
}
.wrapper .title {
  height: 100px;
  background: #7d8fd8;
  
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}
.wrapper form {

  height: 600px;
  padding: 25px 35px;
}
.wrapper form .row {
  height: 40px;
  margin-top: 10px;
  position: relative;
 

}
.wrapper form .row input {
  height: 95%;
  width: 95%;
  outline: none;

  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 18px;
  transition: all 0.3s ease;
    text-align: left;
    margin-left:50px
}
form .row input:focus {
  border-color: #7d8fd8;
}
form .row input::placeholder {
  color: #999;
}
.wrapper form .row i {
  position: absolute;
  width: 55px;
  height: 100%;
  color: #fff;
  font-size: 22px;
  background: #7a8dda;;
  border: 1px solid #7a8dda;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass {
  margin-top: 12px;
}
.wrapper form .pass a {
  color: rgb(13, 110, 253);
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover {
  text-decoration: underline;
}
.wrapper form .button input {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #7d8fd8;
  border: 1px solid #7d8fd8;
  cursor: pointer;
}
form .button input:hover {
  background: #357ab8;
}
.wrapper form .signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 17px;
}
.wrapper form .signup-link a {
  color: rgb(13, 110, 253);
  text-decoration: none;
}
form .signup-link a:hover {
  text-decoration: underline;
}

.login-btn{
  width:100%;
  height:50px;
  border-radius: 40px;;
}